
body {
    font-family: 'Microsoft Yahei';
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}

.doc-xml {
    padding: 20px;
    overflow:scroll;
}

.xib-node {
    display:block;
}

.xib-node.child {
    margin-left: 30px;
}

.xib-node-children {
    display:block;
}

.xib-node-close {
    margin-left:13px;
}

.xib-node.inline > .xib-node-close,
.xib-node.inline > .xib-node-children,
.xib-node.inline > .xib-node-open {
    display:inline;
}

.xib-node.inline > .xib-node-close {
    margin: 0px;
}

.xib-node.inline > .xib-node-toggle {
    display:none;
}

.xib-node .xib-node-toggle {
    cursor:pointer;
}

.xib-node .xib-node-open.selected,
.xib-node .xib-node-close.selected {
    background-color: #ccc;
    color: #333;
    border-radius: 13px;
}

.search {
    padding:10px 20px 10px 20px;
    background-color: #ebebeb;
}

.search-text {
    width: 400px;
}

.ctrl-bar {
    padding: 10px 20px 10px 20px;
}

.file-tree {
    width: 300px;
    float:left;
    padding: 20px;
}

.display {
    margin-left: 340px;
    border-left: 1px dashed #333;
}

/*************** search ****************/
.xib-n-name.search-focus,
.xib-n-attr.search-focus,
.xib-node-value.search-focus {
    color:red;
}
