<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/xib.css" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>

    <body>
        <div class="search">
            <input type="text" class="search-text" placeholder="Search"/>
            <button class="search-btn">Search</button>
        </div>
        <div class="file-tree"></div>
        <div class="display">
            <div class="doc-xml"></div>
            <div class="ctrl-bar">
                <button class="full-edit-btn">Edit As Text</button>
                <button class="full-edit-btn">Save</button>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/doc_builder.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/xib.js"></script>
    <script type="text/javascript">
        $(function() {
            var options = {
                url: '{% url get-xml-content %}'
            };
            var xib = new XibInterface($(document), options);
            xib.load();
        });
    </script>
</html>
